{{!-- <div>
  {{>restart}}
</div> --}}
<div class="questions">
  <h1 class="question">{{question}}</h1>
{{!-- <div class="img-code" >
  <img src="{{image}}" alt="{{name}}">
</div>   --}}
  <img class="img-code" src="{{image}}" alt="{{name}}">

<a class="button" href="#popup{{answerOne.x}}">{{answerOne.text}}</a>
  <a class="button" href="#popup{{answerTwo.x}}">{{answerTwo.text}}</a>
  <a class="button" href="#popup{{answerThree.x}}">{{answerThree.text}}</a>
  <a class="button" href="#popup{{answerFour.x}}">{{answerFour.text}}</a>
</div>
{{!-- winner --}}
<div id="popupWin" class="overlay">
  <div class="popup">
    <h2>Hooray!</h2>
    <div class="content">
      <audio autoplay>
        <source src="sounds/win.wav" type="audio/wav">
      </audio>
      <p>
      You are a winner!
      </p>
    </div>
    <div>
      <form action='/quiz/questions/{{id}}' method='post'>
          {{#if nextId}}
            <button class="button">Next Question</button>
          {{else}}
            <button class="button">Go to scoreboard</button>
          {{/if}}
      </form>
    </div>
  </div>
</div>
{{!-- Not yet a winnner --}}
<div id="popupLose" class="overlay">
  <div class="popup">
    <h2>Next time for sure!</h2>
    {{!-- <a class="close" href="#">&times;</a> --}}
    <div class="content">
      <audio autoplay>
        <source src="sounds/win.wav" type="audio/wav">
      </audio>
      <p>
          Oh, not quite the right one. Don't worry, there are plenty more oportunities to learn during bootcamp.
      </p>
    </div>
    <div>
      {{#if nextId}}
        <a class="button" href="/quiz/questions/{{nextId}}">Next Question</a>
      {{else}}
        <a class="button" href="/quiz/scores">Go to scoreboard</a>
      {{/if}}
    </div>
  </div>
</div>

{{!-- if {{win}} exists then return popup{{win}}
      else return popup{{lose}} --}}