{{!-- <div>
  {{>restart}}
</div> --}}
<div class="questions">
  <h1 class="question">{{question}}</h1>
  <img class="img-code" src="{{image}}" alt="{{name}}">
  <a class="button" href="#popup{{answerOne.x}}">{{answerOne.text}}</a>
  <a class="button" href="#popup{{answerTwo.x}}">{{answerTwo.text}}</a>
  <a class="button" href="#popup{{answerThree.x}}">{{answerThree.text}}</a>
  <a class="button" href="#popup{{answerFour.x}}">{{answerFour.text}}</a>
</div>
{{!-- winner --}}
<div id="popupWin" class="overlay">
  <div class="popup">
    <h2>Hooray!</h2>
    <div class="content">
      You are a winner!
    </div>
    <div>
      <form action='/quiz/questions/{{id}}' method='post'>
          <button class="button">Next Question</button>
      </form>
    </div>
  </div>
</div>
{{!-- Not yet a winnner --}}
<div id="popupLose" class="overlay">
  <div class="popup">
    <h2>Next time for sure!</h2>
    {{!-- <a class="close" href="#">&times;</a> --}}
    <div class="content">
      Oh, not quite the right one. Don't worry, there are plenty more oportunities to learn during bootcamp.
    </div>
    <div>
      <a class="button" href="/quiz/questions/{{nextId}}">Next Question</a>
    </div>
  </div>
</div>

{{!-- if {{win}} exists then return popup{{win}}
      else return popup{{lose}} --}}