{{!-- <div>
  {{>restart}}
</div> --}}
<div class="questions">
  <img class="img-circle" src="{{image}}" alt="{{name}}">
  <a class="button" href="#popupWin">{{answerOne}}</a>
  <a class="button" href="#popupLose">{{answerTwo}}</a>
  <a class="button" href="#popupLose">{{answerThree}}</a>
  <a class="button" href="#popupLose">{{answerFour}}</a>
</div>

{{!-- winner --}}
<div id="popupWin" class="overlay">
  <div class="popup">
    <h2>Hooray!</h2>
    <a class="close" href="#">&times;</a>
    <div class="content">
      You are a winner!
    </div>
    <div>
      <button>Next Question</button>
    </div>
  </div>
</div>
{{!-- Not yet a winnner --}}
<div id="popupLose" class="overlay">
  <div class="popup">
    <h2>Next time for sure!</h2>
    <a class="close" href="#">&times;</a>
    <div class="content">
      Oh, not quite the right one. Don't worry, there are plenty more oportunities to learn during bootcamp.
    </div>
    <div>
      <button>Next Question</button>
    </div>
  </div>
</div>